<!DOCTYPE html>
<html>
  <head>
   <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


   
    
  </head>
<body>
  <div class="bs-brand-logos">
    <div class="bs-brand-item">
      <h1>Bootstrap</h1>
    </div>
    <div class="bs-brand-item inverse">
      <h1>Bootstrap</h1>
    </div>
  </div>
</body>



<h1>你好，世界！</h1>

{{range .}}
{{.}}
{{end}}

{{range $key,$value:=.}}
<li><strong>{{$key}}</strong>:{{$value}}</li>
{{end}}
<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>

</html>